@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.bold {
  font-weight: 700;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 64rem) {
  body {
    background-image: url("../images/bg-desktop.png");
    background-size: 100% 50%;
    background-position: bottom;
    background-color: #0c122c;
  }
}

body .grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 1rem;
}

@media screen and (min-width: 64rem) {
  body .grid {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    gap: 2em;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

body .grid .cardLogo {
  padding: 2rem 5rem 2rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "logo logo logo ." "document folder upload .";
  gap: 2rem 1rem;
  background-color: #1d2c67;
  border-radius: 12px;
  border-top-right-radius: 7rem;
}

body .grid .cardLogo .imgWrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 45px;
  width: 45px;
  background-color: #0c122c;
  border-radius: 8px;
}

body .grid .cardLogo #imgLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logo;
}

body .grid .cardLogo #imgDoc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: document;
}

body .grid .cardLogo #imgFol {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: folder;
}

body .grid .cardLogo #imgUpl {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: upload;
}

body .grid .cardStatus {
  position: relative;
  height: 11rem;
  width: 100%;
  padding: 2rem;
  background-color: #1d2c67;
  border-radius: 12px;
  font-size: 0.875rem;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1024px) {
  body .grid .cardStatus {
    height: 80%;
  }
}

@media screen and (min-width: 1024px) {
  body .grid .cardStatus p {
    text-align: left;
  }
}

body .grid .cardStatus .bar {
  margin: 1rem 0;
  height: 20px;
  width: 100%;
  padding: 3px;
  background-color: #141f4c;
  border-radius: 10px;
}

body .grid .cardStatus .bar .progress {
  position: relative;
  padding: 3px;
  width: 80%;
  padding-left: 70%;
  height: 100%;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
}

body .grid .cardStatus .bar .progress::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  top: 2px;
  right: 2px;
  background-color: white;
  border-radius: 8px;
}

body .grid .cardStatus .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .grid .cardStatus .overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  position: absolute;
  padding: 1rem;
  bottom: -2.5rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: white;
  border-radius: 12px;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  body .grid .cardStatus .overlay {
    left: unset;
    bottom: unset;
    -webkit-transform: unset;
            transform: unset;
    right: 2rem;
    top: -2.5rem;
  }
  body .grid .cardStatus .overlay::after {
    position: absolute;
    content: "";
    bottom: -19px;
    right: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
  }
}

body .grid .cardStatus .overlay span {
  font-size: 2.5rem;
  color: black;
}

body .grid .cardStatus .overlay p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #848794;
  white-space: nowrap;
}
/*# sourceMappingURL=main.css.map */