@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; // 4 7
}

.bold {
  font-weight: 700;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 64rem) {
    background-image: url("../images/bg-desktop.png");
    background-size: 100% 50%;
    background-position: bottom;
    background-color: $veryDarkBlue;
  }

  .grid {
    display: grid;
    place-items: center;
    gap: 1rem;

    @media screen and (min-width: 64rem) {
      grid-template-columns: 1fr 1.5fr;
      gap: 2em;
      align-items: end;
    }

    .cardLogo {
      padding: 2rem 5rem 2rem 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "logo logo logo ."
        "document folder upload .";

      gap: 2rem 1rem;

      background-color: $darkBlue;
      border-radius: 12px;
      border-top-right-radius: 7rem;

      .imgWrapper {
        display: grid;
        place-items: center;
        height: 45px;
        width: 45px;
        background-color: $veryDarkBlue;
        border-radius: 8px;
      }

      #imgLogo {
        grid-area: logo;
      }
      #imgDoc {
        grid-area: document;
      }
      #imgFol {
        grid-area: folder;
      }
      #imgUpl {
        grid-area: upload;
      }
    }

    .cardStatus {
      position: relative;
      height: 11rem;
      width: 100%;
      padding: 2rem;
      background-color: $darkBlue;
      border-radius: 12px;
      font-size: 0.875rem;
      text-align: center;
      color: white;

      @media screen and (min-width: 1024px) {
        height: 80%;
      }

      p {
        @media screen and (min-width: 1024px) {
          text-align: left;
        }
      }

      .bar {
        margin: 1rem 0;
        height: 20px;
        width: 100%;
        padding: 3px;
        background-color: #141f4c;
        border-radius: 10px;

        .progress {
          position: relative;
          padding: 3px;
          width: 80%;
          padding-left: 70%;
          height: 100%;
          border-radius: 8px;
          background-image: linear-gradient(
            to right,
            hsl(6, 100%, 80%),
            hsl(335, 100%, 65%)
          );

          &::after {
            position: absolute;
            content: "";
            height: 10px;
            width: 10px;
            top: 2px;
            right: 2px;
            background-color: white;
            border-radius: 8px;
          }
        }
      }

      .flex {
        display: flex;
        justify-content: space-between;
      }

      .overlay {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        padding: 1rem;
        bottom: -2.5rem;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: white;
        border-radius: 12px;
        color: black;
        text-transform: uppercase;
        white-space: nowrap;

        @media screen and (min-width: 1024px) {
          left: unset;
          bottom: unset;
          transform: unset;
          right: 2rem;
          top: -2.5rem;
        }

        &::after {
          position: absolute;
          content: "";
          bottom: -19px;
          right: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid white;
        }

        span {
          font-size: 2.5rem;
          color: black;
        }
        p {
          font-size: 0.8rem;
          font-weight: 700;
          color: $grayishBlue;
          white-space: nowrap;
        }
      }
    }
  }
}
